<a href="https://colab.research.google.com/github/Soumyaranjan2021/OOP-Task---05/blob/main/OOP_Task_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Program 1
from numpy import pi

class Shape(object):
  def __init__(self, shape):
    self.shape = shape
  
  def Area(self):
    pass

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius
    Shape.__init__(self, 'Circle')
  def Area(self):
    print(f'Area of {self.shape} : {pi * (self.radius ** 2)}')
    return

class Rectangle(Shape):
  def __init__(self, length, breadth):
    self.l = length
    self.b = breadth
    Shape.__init__(self, 'Rectangle')
  def Area(self):
    print(f'Area of {self.shape} : {self.l * self.b}')
    return

class Square(Shape):
  def __init__(self, side):
    self.a = side
    Shape.__init__(self, 'Square')
  def Area(self):
    print(f'Area of {self.shape} : {self.a ** 2}')
    return

C = Circle(2)
R = Rectangle(10, 5)
S = Square(5)
C.Area()
R.Area()
S.Area()

Area of Circle : 12.566370614359172
Area of Rectangle : 50
Area of Square : 25

In [12]:
# Program 2
class Travel(object):
  def __init__(self, passengers, distance, mode):
    self._passenger = passengers
    self.distance = distance
    self.mode = mode
  def getPassengers(self):
    return self._passenger

class Train(Travel):
  cost = 60         # Assuming cost per each person per 100 kms
  def __init__(self, No_Passengers, dis, m):
    Travel.__init__(self, No_Passengers, dis, m)
  def TotalCost(self):
    return self.getPassengers() * self.cost * self.distance / 100

class Bus(Travel):
  cost = 100      # Assuming cost per each person per 100 kms
  def __init__(self, No_Passengers, dis, m):
    Travel.__init__(self, No_Passengers, dis, m)
  def TotalCost(self):
    return self.getPassengers() * self.cost * self.distance / 100

if __name__ == "__main__":
  T = Train(5, 412, 'By-Train')
  print('Travel mode : ', T.mode)
  print(f'Total Cost : {T.TotalCost()}')
  
  print()
  
  B = Bus(5, 412, 'By-Bus')
  print('Travel mode : ', B.mode)
  print(f'Total Cost : {B.TotalCost()}')

  print()

  if B.TotalCost() < T.TotalCost():
    print('Efficient Mode : ', B.mode)
  else:
    print('Efficient Mode : ', T.mode)

Travel mode :  By-Train
Total Cost : 1236.0

Travel mode :  By-Bus
Total Cost : 2060.0

Efficient Mode :  By-Train

In [17]:
# Program 3
class Car(object):
  def __init__(self, Model_Number):
    self.M_No = Model_Number
  def ModelNumber(self):
    return self.M_No

if __name__ == "__main__":
  C1 = Car(7815451465474652)
  C2 = Car(6544414616436433)

  print("Before swapping : ")
  print("Car 1 Model Number : ", C1.ModelNumber())
  print("Car 2 Model Number : ", C2.ModelNumber())

  C1.M_No, C2.M_No = C2.ModelNumber(), C1.ModelNumber()

  print("\nAfter Swapping : ")
  print("Car 1 Model Number : ", C1.ModelNumber())
  print("Car 2 Model Number : ", C2.ModelNumber())

Before swapping :
Car 1 Model Number :  7815451465474652
Car 2 Model Number :  6544414616436433

After Swapping :
Car 1 Model Number :  6544414616436433
Car 2 Model Number :  7815451465474652